# This sample is just to note some common changes (some required by
# ceph-ansible) to group_vars for a Linode deployment. These variables may go
# out-of-date as ceph-ansible evolves.

ceph_origin: repository
ceph_repository: community
ceph_stable_release: luminous
nfs_ganesha_dev: true
pool_default_size: 3

cephfs_pools:
- {name: "cephfs_data", pgs: "8"}
- {name: "cephfs_metadata", pgs: "8"}
cephfs_data: cephfs_data

ceph_conf_overrides:
  mon:
    mon_allow_pool_delete: true
