---

copy_admin_key: true

nfs_file_gw: true
nfs_obj_gw: false

ceph_nfs_dynamic_exports: false
ceph_nfs_rados_backend: true

ceph_nfs_ceph_export_id: 1000
ceph_nfs_ceph_pseudo_path: "/"
ceph_nfs_ceph_protocols: "4"
ceph_nfs_ceph_access_type: "RW"
ceph_nfs_ceph_user: "admin"

ganesha_ceph_export_overrides: |
  Attr_Expiration_Time = 0;
  Squash = No_root_squash;
  CACHEINODE {
    Dir_Max = 1;
    Dir_Chunk = 0;
  }
