{
  "region": "us-west",
  "image": "CentOS 8",
  "type": 4096,
  "nodes": [
      {
        "count": 3,
        "prefix": "mon",
        "group": "mons"
      },
      {
        "count": 3,
        "prefix": "osd",
        "type": "1024",
        "root_size": 4096,
        "group": "osds"
      },
      {
        "count": 1,
        "prefix": "mds",
        "group": "mdss"
      },
      {
        "count": 1,
        "prefix": "mgr",
        "group": "mgrs"
      },
      {
        "count": 1,
        "prefix": "client",
        "group": "clients"
      }
  ]
}
