[
  {
    "count": 1,
    "prefix": "mon",
    "plan": "g6-standard-2",
    "group": "mons"
  },
  {
    "count": 4,
    "prefix": "osd",
    "plan": "g6-standard-4",
    "volume-size": 20,
    "group": "osds"
  },
  {
    "count": 1,
    "prefix": "mds",
    "plan": "g6-standard-4",
    "group": "mdss"
  },
  {
    "count": 1,
    "prefix": "mgr",
    "plan": "g6-standard-2",
    "group": "mgrs"
  },
  {
    "count": 4,
    "prefix": "client",
    "plan": "g6-standard-2",
    "group": "clients"
  }
]
